{% extends 'navbar.html' %}

{% block content %}
<body class="bg-light">
    <div class="col-md-8 order-md-1 container py-5">
      <h1 class="mb-3">Вход</h1>
      <form class="needs-validation" novalidate>
        <div class="row">
        <form method="post">
          {% csrf_token %}
          {{ form.ap_p }}
          <div class="col-md-6 mb-3">
            <label for="id_username">Имя пользователя</label>
            <input type="text" name="username" class="form-control" id="id_username" placeholder="Имя пользователя" value="" required>
          </div>

          <div class="col-md-6 mb-3">
            <label for="id_password">Пароль</label>
            <input type="text" name="password" class="form-control" id="id_password" placeholder="Пароль" value="" required>
          </div>
        </div>

        <div class="input-group">
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Войти</button>
        </div>

        {{ form.errors }}

      </form>
    </div>
  </body>
{% endblock %}