{% extends 'navbar.html' %}

    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='True' %}
    {% load i18n %}
    {% load static %}

{% block content %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Привет от Хекслета!</h1>
      <p>Практические курсы по программированию</p>
      <p><a class="btn btn-primary btn-lg" href="/" role="button">Узнать больше</a></p>
    </div>
  </div>

{% endblock %}