{% extends 'navbar.html' %}
{% block content %}
<body class="bg-light">
    <div class="col-md-8 order-md-1 container py-5">
      <h1 class="mb-3">Вход</h1>
      <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        {% if messages %}
          {% for msg in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
              {{msg}}
            </div>
          {% endfor %}
        {% endif %}
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="id_username">Имя пользователя</label>
            <input type="text" class="form-control" name="username" id="id_username" placeholder="Имя пользователя" value="" required>
          </div>

          <div class="col-md-6 mb-3">
            <label for="id_password">Пароль</label>
            <input type="text" class="form-control" name="password" id="id_password" placeholder="Пароль" value="" required>
          </div>
        </div>

        <div class="input-group">
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Войти</button>
        </div>
      </form>
    </div>
  </body>
{% endblock %}